{{define "Header"}}
<div><header><a href="{{.Settings.Web.Canon}}"><img src="{{.Settings.Web.Canon}}static/img/banner.gif"></a></header>
<span class=subtext>The ultra-simple "read-it-later" manager on all your devices</span></div>
<div class="remarkable button-group">
<a href="{{.Settings.Web.Canon}}">Home</a>{{if not .UX.LoggedIn}}<a
href="{{.Settings.Web.Canon}}/login">Login</a>
<a href="{{.Settings.Web.Canon}}signup">Sign-up</a></div>{{else}}
<a href="{{.Settings.Web.Canon}}u/{{.UX.Username}}">My Bookmarks</a>
<a href="{{.Settings.Web.Canon}}logout">Logout</a></div>{{end}}
{{end}}
