<!DOCTYPE HTML>
<html>
<head><title>Bookmark Warrior - Your ultra-minimal bookmark manager</title>
{{template "Head" .}}</head>
<body>
<header>{{template "Header" .}}</header>
<aside></aside>
<main>
<p>Bookmark Warrior is an ad-free, ultra-minimal bookmarking service; available on
all your devices, there's no reason to use anything else! Making an account
is simple and it only costs $6 to start one (just check out our <a href>account
creation page</a>).</p>
<p>We'll never run ads, that's a promise! Because we
are <strong>the non-invasive solution</strong> allowing you access to all
your bookmarks from your phone, your computer, your e-reader, your tablet,
(and your smart-fridge!) Bookmark Warrior focuses especially on simplicity and
accessibility... the development is entirely user-supported and relies on no
external funding! This lets us serve you with the speed and reliability you
deserve.</p>
<p>Where other sites (e.g. Reddit) focus on aggregating content and creating
social communities, Bookmark Warrior is your <strong>personal bookmarking
site</strong>; you can add links to Bookmark Warrior and mark them as "read"
(as you finish reading them) or "archive" them for later. And most
importantly, you'll only ever see the links that are <strong>relevant to you</strong>!</p>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
