<!DOCTYPE HTML>
<html>
<head><title>Bookmark Warrior - Your ultra-minimal bookmark manager</title>
{{template "Head" .}}</head>
<body>
<header>{{template "Header" .}}</header>
<aside></aside>
<main>
<h1>Sign-in</h1>
<form method=post action="{{.Settings.Web.Canon}}login">
	<div><label for=username>Username: </label>
	<input id=username type=text name=username></div>
	<div><label for=password>Password: </label>
	<input id=password type=password name=password></div>
	<button type=submit>Login</button>
</form>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
