<!DOCTYPE HTML>
<html>
<head><title>Sign-up for BookmarkWarrior!</title>
{{template "Head" .}}</head>
<body>
<header>{{template "Header" .}}</header>
<aside>Your order has been received and your account has been created!</aside>
<main>
<header class=signup-steps>{{template "SignupSteps" 4}}</header>
<h1>Order Receipt</h1>
<p>Congratulations, you're all set up! We've received your payment of
{{.Settings.PayPal.DomesticCurrencySigil}}{{.Settings.PayPal.OneTimeCost}};
you may want to print this page for your records.</p>
<p>Now that you have an account, you're encouraged to explore all of the
features we have on BookmarkWarrior; first, head over to your
<a href="{{.Settings.Web.Canon}}u/{{.UX.Username}}">user page</a> to learn
more.</p>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
