<!DOCTYPE HTML>
<html>
<head><title>Sign-up for BookmarkWarrior!</title>
<script src="https://www.paypal.com/sdk/js?client-id=AQng68TQsRgFicTyzGIes8BCvz-DjaQVL_2wIM1Xw4CN0o1T9py0DgfmMZWKmKiKUrUGUBM-RJkRyT0W"></script>
{{template "Head" .}}</head>
<body>
<aside>
<h2>Order Details</h2>
<table><tr><th>Price</th>
<td>{{.Settings.PayPal.DomesticCurrencySigil}}{{.Settings.PayPal.OneTimeCost}}</td>
</tr><tr><th>Estimated Tax</th>
<td>{{.Settings.PayPal.DomesticCurrencySigil}}0</td></tr>
</table>
</aside>
<header>{{template "Header" .}}</header>
<main>
<header class=signup-steps>{{template "SignupSteps" 2}}</header>
<h1>Confirm / Checkout</h1>
<form method=post action="{{.Settings.Web.Canon}}signup/pay" id=confirm>
	<div><label for=username>Username: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=username type=text name=username readonly value="{{.Username}}"></div>
	<div><label for=displayname>Display Name:</label>
	<input id=displayname type=text name=displayname readonly
		value="{{.DisplayName}}"></div>
	<div><label for=password>Password: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=password type=password name=password readonly
		value="{{.Password}}"></div></form>
	<div class=secure-checkout>
		<h3>Secure PayPal Checkout</h3>
		<div id=paypal-button-container></div>
	</div>
</main>
<footer>{{template "Footer" .}}</footer>
<script>
var confirm = document.getElementById("confirm");
paypal.Buttons({
	createOrder: function(data, actions) {
		return actions.order.create({
			purchase_units: [{
				amount: { value: '10' }
			}]
		});
	},
	onApprove: function(data, actions) {
		return actions.order.capture().then(function(details) {
			// Hack hack hack...
			addParam(confirm, "orderid", details.id);
			confirm.submit();
		});
	}
}).render('#paypal-button-container');
function addParam(form, name, value) {
	var e = document.createElement("input");
	e.name = name;
	e.type = "hidden";
	e.value = value;
	form.appendChild(e); }</script>
</body>
</html>
