<!DOCTYPE HTML>
<html>
<head><title>Sign-up for BookmarkWarrior!</title>
{{template "Head" .}}</head>
<body>
<header>{{template "Header" .}}</header>
<aside>
<h2>Order Details</h2>
<table class=bill><tr><th>Price</th>
<td>FREE!</td>
</tr><tr><th>Estimated Tax</th>
<td>{{.Settings.PayPal.DomesticCurrencySigil}}0</td></tr>
</table>
</aside>
<main>
<header class=signup-steps>{{template "SignupSteps" 2}}</header>
<h1>Confirm / Checkout</h1>
<form method=post action="{{.Settings.Web.Canon}}signup/pay" id=confirm>
	<div><label for=username>Username: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=username type=text name=username readonly value="{{.Username}}"></div>
	<div><label for=displayname>Display Name:</label>
	<input id=displayname type=text name=displayname readonly
		value="{{.DisplayName}}"></div>
	<div><label for=password>Password: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=password type=password name=password readonly
		value="{{.Password}}">
	<button type=submit>Create account</button>
	<input type=hidden id=promo name=promo
		value="{{.Promo}}"></div></form>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
