<!DOCTYPE HTML>
<html>
<head><title>Sign-up for BookmarkWarrior!</title>
{{template "Head" .}}</head>
<body>
<header>{{template "Header" .}}</header>
<aside>{{template "EncourageSidebar"}}</aside>
<main>
<header class=signup-steps>{{template "SignupSteps" 1}}</header>
<h1>Create an Account</h1>
{{if .Error}}<span class=error>
	{{if .Error.Taken}}That username is already taken!{{end}}
	{{if .Error.AlreadyLoggedIn}}You're already logged in!{{end}}
	{{if .Error.Mismatch}}Passwords didn't match!{{end}}
	{{if .Error.BadUName}}Bad username (letters, hyphens and numbers only!){{end}}
	{{if .Error.ShortPassword}}Password is too short!{{end}}
</span>{{end}}
<form class=signup method=post action="{{.Settings.Web.Canon}}signup/create">
	<p>Welcome to BookmarkWarrior; we're glad to have you here!</p>
	<p>You will log in using your username
	but your display name can be anything (a real name, an alias, etc. etc.)</p>
	<label for=username>Username: <abbr title=Required
		aria-label=Required>*</abbr> (a-z,0-9,- and ≤{{.Settings.MaxUsernameLength}}
		characters)</label>
	<input id=username required maxlength="{{.Settings.MaxUsernameLength}}"
		type=text name=username>
	<label for=displayname>Display Name (real name or alias):
	(≤{{.Settings.MaxDisplaynameLength}} characters)</label>
	<input id=displayname type=text name=displayname>
	<label for=password>Password: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=password required maxlength="{{.Settings.MaxDisplaynameLength}}"
		minlength="{{.Settings.MinimumPasswordLength}}" type=password
		name=password>
	<label for=confirmpassword>Confirm Password: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=confirmpassword required type=password name=confirmpassword>
	<p>If you have a promotion code, please enter it below:</p>
	<label for=promo>Promotion code: </label>
	<input id=promo type=text name=promo>
	<button type=submit>Create</button>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
