<!DOCTYPE HTML>
<html>
<head>{{template "Head" .}}</head>
<body>
<header><title>{{.Title}}</title>
{{template "Header" .}}</header>
<aside><h1 class=displayname>{{.User.DisplayName}}</h1>
<span class="username subtext">{{.User.Username}}</span>
<p>User since {{.User.JoinedOn}}</p></aside>
<main>
{{if .User.ThisIsMe}}<a href>Add</a>{{end}}
{{if not .User.Bookmarks}}
<p>No bookmarks...</p>
{{else}}<table class=bookmarks>
<tr><th>Name</th><th>Added on</th>{{if .User.ThisIsMe}}<th>Actions</th>{{end}}{{range .User.Bookmarks}}</tr>
<tr><td>{{if .Unread}}<strong>{{end}}<a href="{{.URL}}">{{.Title}}</a>
{{if .Unread}}</strong>{{end}}</td>
<td>{{.AddedOn}}</td>
{{if $.User.ThisIsMe}}<td class="simple button-group">
	<span class=read>{{if .Unread}}<a
		href="{{$.Canon}}/{{.BId}}/read">Mark as Read</a>{{else}}
		<a href="{{$.Canon}}/{{.BId}}/unread">Mark as
		Unread</a>{{end}}</span>
	<span class=edit><a
		href="{{$.Canon}}/{{.BId}}/edit">Edit</a></span>
	<span class=archive><a
		href="{{$.Canon}}/{{.BId}}/archive">Archive</a></span>
	<span class=remove><a
		href="{{$.Canon}}/{{.BId}}/remove">Remove</a></span></td>{{end}}</tr>
{{end}}{{end}}
</table>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
