<!DOCTYPE HTML>
<html>
<head>{{template "Head" .}}
<title>{{.Title}}</title></head>
<body>
<header>{{template "Header" .}}</header>
<aside>{{template "UserAside" .User}}</aside>
<main class=tabbed-window>
<ul class=tabs>
	<li><a href="{{.Canon}}">Bookmarks</a></li><!--
	--><li><strong><a href="{{.Canon}}/archive">Archive</a></strong></li><!--
	-->{{if .User.ThisIsMe}}<li><a href="{{.Canon}}/add">Add</a></li>{{end}}
</ul>
{{if not .User.Bookmarks}}
<div class=tab-content>{{template "UserNoArchived" .User}}</div>
{{else}}<table class="tab-content bookmarks">
<tr><th>Name</th><th>Added on</th>{{if .User.ThisIsMe}}<th>Actions</th>{{end}}{{range .User.Bookmarks}}</tr>
<tr><td>{{if .Unread}}<strong>{{end}}<a href="{{.URL}}">{{.Title}}</a>
{{if .Unread}}</strong>{{end}}</td>
<td><time datetime="{{.AddedOnRFC3339}}">{{.AddedOn}}</time></td>
{{if $.User.ThisIsMe}}<td class="simple button-group">
	<span class=edit><a
		href="{{$.Canon}}/{{.BId}}/edit">Edit</a></span>
	<span class=archive><a
		href="{{$.Canon}}/{{.BId}}/unarchive">Unarchive</a></span>
	<span class=remove><a
		href="{{$.Canon}}/{{.BId}}/remove">Delete</a></span></td>{{end}}</tr>
{{end}}{{end}}
</table></main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
