<!DOCTYPE HTML>
<html>
<head>{{template "Head" .}}
<title>{{.Title}}</title></head>
<body>
<header>{{template "Header" .}}</header>
<aside>{{template "UserAside" .User}}</aside>
<main class=tabbed-window>
<ul class=tabs>
	<li><a href="{{.Canon}}">Bookmarks</a></li><!--
	--><li><a href="{{.Canon}}/archive">Archive</a></li><!--
	--><li><a href="{{.Canon}}/add">Add</a>
</ul>
<div class=tab-content>
	<h2>Change Password</h2>
	<p>The below form will change your <strong>password</strong>;
	remember that passwords must be longer than
	{{.Settings.MinimumPasswordLength}} characters.</p>
	<p>Good passwords have a mix of letters, numbers and symbols.</p>
{{if .Error}}<span class=error>
	{{if .Error.BadPassword}}Password was Incorrect!{{end}}
	{{if .Error.Mismatch}}Passwords didn't match!{{end}}
</span>{{end}}
<form method=post>
	<div><label for=currpassword>Current Password: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=currpassword type=password name=currpassword></div><hr>
	<div><label for=newpassword>New Password: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=newpassword type=password name=newpassword
		minlength="{{.Settings.MinimumPasswordLength}}"></div>
	<div><label for=confirmpassword>Confirm Password: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=confirmpassword type=password name=confirmpassword
		minlength="{{.Settings.MinimumPasswordLength}}"></div>
	<button type=submit>Confirm</button>
</form></div>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
