<!DOCTYPE HTML>
<html>
<head>{{template "Head" .}}
<title>{{.Title}}</title></head>
<body>
<header>{{template "Header" .}}</header>
<aside>{{template "UserAside" .User}}</aside>
<main class=tabbed-window>
<ul class=tabs>
	<li><a href="{{.Canon}}">Bookmarks</a></li><!--
	--><li><a href="{{.Canon}}/archive">Archive</a></li><!--
	--><li><a href="{{.Canon}}/add">Add</a></li>
</ul>
<div class="tab-content add-edit">
<form method=post>
	<div><label for=name>Name: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=name type=text name=name value="{{.Mark.Title}}"></div>
	<div><label for=url>URL: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=url type=text name=url value="{{.Mark.URL}}"></div>
	<div>Added on: {{.Mark.AddedOn}}</div>
	<button type=submit>Done</button>
</form></div>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
