<!DOCTYPE HTML>
<html>
<head>{{template "Head" .}}
<title>{{.Title}}</title></head>
<body>
<header>{{template "Header" .}}</header>
<aside><a href="{{.Canon}}"><h1 class=displayname>{{.User.DisplayName}}</h1></a>
<span class="username subtext">{{.User.Username}}</span>
<p>User since {{.User.JoinedOn}}</p>
<a href="{{.Canon}}/archive">View Archived Bookmarks</a></aside>
<main class=tabbed-window>
<ul class=tabs>
	<li><strong><a href="{{.Canon}}">Bookmarks</a></strong></li><!--
	--><li><a href="{{.Canon}}/archive">Archive</a></li><!--
	-->{{if .User.ThisIsMe}}<li><a href="{{.Canon}}/add">Add</a></li>{{end}}
</ul>
{{if not .User.Bookmarks}}
<div class=tab-content><p>No bookmarks...</p></div>
{{else}}<table class="tab-content bookmarks">
<tr><th>Name</th><th>Added on</th>{{if .User.ThisIsMe}}<th>Actions</th>{{end}}{{range .User.Bookmarks}}</tr>
<tr><td>{{if .Unread}}<strong>{{end}}<a href="{{.URL}}">{{.Title}}</a>
{{if .Unread}}</strong>{{end}}</td>
<td>{{.AddedOn}}</td>
{{if $.User.ThisIsMe}}<td class="simple button-group">
	<span class=read>{{if .Unread}}<a
		href="{{$.Canon}}/{{.BId}}/read">Mark as Read</a>{{else}}
		<a href="{{$.Canon}}/{{.BId}}/unread">Mark as
		Unread</a>{{end}}</span>
	<span class=edit><a
		href="{{$.Canon}}/{{.BId}}/edit">Edit</a></span>
	<span class=archive><a
		href="{{$.Canon}}/{{.BId}}/archive">Archive</a></span>
	<span class=remove><a
		href="{{$.Canon}}/{{.BId}}/remove">Remove</a></span></td>{{end}}</tr>
{{end}}{{end}}
</table>
</main>
<footer>{{template "Footer" .}}</footer>
</body>
</html>
