<!DOCTYPE HTML>
<html>
<head>{{template "Head" .}}
<title>{{.Title}}</title></head>
<body>
<header>{{template "Header" .}}</header>
<aside>{{template "UserAside" .User}}</aside>
<main class=tabbed-window>
<ul class=tabs>
	<li><a href="{{.Canon}}">Bookmarks</a></li><!--
	--><li><a href="{{.Canon}}/archive">Archive</a></li><!--
	--><li><strong><a href="{{.Canon}}/add">Add</a></strong>
</ul>
<div class="tab-content add-edit">
{{if .Error}}<span class=error>
	{{if .Error.URLBadScheme}}Websites must start with http:// or https://{{end}}
	{{if .Error.URLNoHost}}No host given (must be a valid remote URL){{end}}
	{{if .Error.URLOther}}Bad URL!{{end}}
</span>{{end}}
<form method=post>
	<div><label for=url>URL: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=url type=text name=url></div>
	<div><label for=name>Name: <abbr title=Required
		aria-label=Required>*</abbr></label>
	<input id=name type=text name=name></div>
	<button type=submit>Add</button>
</form></div>
</main>
<footer>{{template "Footer" .}}</footer>
<script src="{{.Settings.Web.Canon}}static/js/bookmark-autocomplete.js"></script>
</body>
</html>
