body {
	display: grid;
	grid-template-areas:
		'header aside'
		'main aside'
		'footer footer';
	grid-template-columns: 1fr 250px;
	grid-gap: 1rem;
	font-family: Calibri, sans-serif;

	/* Default colors... */
	background-color: LightGray }
body > main { grid-area: main }
body > aside { grid-area: aside;
	border-left: 1px solid }
body > footer { grid-area: footer }
body > header { grid-area: header }
body > main,
body > aside,
body > footer,
body > header { padding: 10px }
.bigish { font-size: 1.5rem }
#big-title { font-size: 2.5rem }

.button-group { display: flex;
	flex-wrap: wrap }
.button-group > * { padding: 0 8px }
.remarkable.button-group > * { border: 1px solid;
	background-color: White }

input[readonly] {
	background-color: inherit;
	border: none;
}

.error { color: red }

/* Layouts */
body > header { display: flex;
	align-items: flex-end;
	justify-content: space-between }
table { width: 100% }
.displayname { margin: 10px 0 }
th { text-align: left }
.tabbed-window .tabs {
	display: inline-block;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-radius: 10px 10px 0 0;
	list-style: none;
	padding: 0 5px;
	margin: 0;
}
.tabs li {
	padding: 0 5px;
	border-style: solid;
	border-width: 0 1px 0 0;
	display: inline;
}
.tabs li:last-child {
	border-width: 0;
}
.tabbed-window .tab-content {
	border: 1px solid;
}

.tab-content { padding: 5px }

.tabs, .tab-content {
	background: White;
}

a:active { outline: 0 }
a, a:visited { color: blue }
a:hover { color: red }

form label, input { display: block }
input {
	border: 1px solid;
	font-size: 110%;
	padding: 2px;
	max-width: 100%;
	margin: 0 0 10px 25px;
	width: 200px;
	background-color: white }
button[type=submit] {
	background-color: white;
	border: 1px solid;
	font-size: 125% }

#paypal-button-container {
	margin: 20px 0;
	width: 350px }

.signup-cta { font-size: 150%;
	display: inline-block;
	background-color: green;
	color: white !important;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 5px;
	margin: 5px 0;
	border-radius: 10px }

.signup-steps { text-align: right }
.secure-checkout { text-align: center }
#paypal-button-container { margin: auto }

.tabs a, .remarkable.button-group a { text-decoration: none }

.bookmarks tr > :last-child { float: right }

/* Mobile... */
@media only screen and (max-width: 800px) {
	body { display: block }
	header { display: block } }
