{{define "MyWelcomeSidebar"}}{{if not .UX.LoggedIn}}{{with .Settings}}
<div class="remarkable button-group">
	<a href="{{.Web.Canon}}login">Login</a>
	<a href="{{.Web.Canon}}signup">Signup</a>
</div>
<form method=post action="{{.Web.Canon}}login">
	<label for=username>Username: </label>
	<input id=username type=text name=username>
	<label for=password>Password: </label>
	<input id=password type=password name=password>
	<button type=submit>Login</button>
</form>
<p>Or <a href="/signup">join forever</a> for only
{{.PayPal.DomesticCurrencySigil}}{{.PayPal.OneTimeCost}}!</p>
{{end}}{{else}}
<h1>Welcome back!</h1>
<p>Found something novel or interesting to read today? Try
adding it to <a href="{{.Settings.Web.Canon}}u/{{.UX.Username}}">your
list</a>!</p>
{{end}}{{end}}
